<nav class="nav">
    <a class="nav-link" href="{{ path('test3') }}">Test 3</a>
    <a class="nav-link" href="{{ path('country_list') }}">Liste pays</a>
    <a class="nav-link" href="{{ path('country_form') }}">Ajout pays</a>
    <a class="nav-link" href="{{ path('city_list') }}">Liste villes</a>
    <a class="nav-link "href="{{ path('city_form') }}">Ajout ville</a>
</nav>